<?xml version="1.0" ?><configuration>
	<screen height="500" width="500"/>
	<saves/>
	<scores>
		<score date="24042020" value="8"/>
		<score date="24042020" value="58"/>
		<score date="24042020" value="58"/>
		<score date="24042020" value="162"/>
		<score date="24042020" value="3"/>
		<score date="24042020" value="90"/>
		<score date="24042020" value="6"/>
		<score date="24042020" value="58"/>
		<score date="24042020" value="71"/>
		<score date="24042020" value="6"/>
	</scores>
</configuration>